@use '../base';

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @media screen and (min-width: base.$desktop-breakpoint) {
    margin-bottom: 60px;
  }

  input {
    padding-left: 20px;
    width: 75%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    &:focus {
      outline: none;
    }

    @media screen and (min-width: base.$desktop-breakpoint) {
      width: 35%;
    }
  }

  .search-btn {
    padding: 18px 22px 18px 22px;
    background-color: black;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }
}