body {
  font-family: 'Rubik', sans-serif;

  .container {
    .bg-banner {
      background-image: url('/images/pattern-bg.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 35vh;

      header {
        h1 {
          color: white;
        }
      }
    }

    #map {
      height: 65vh;
    }
  }
}